@model IEnumerable<funko_store_1._0.Models.Registro>

@{
    ViewBag.Title = "Comprar";
}

<h2 style="margin-bottom:20px">Detalle de Compra</h2>
<div>
    @Html.Partial("_PartialComprar")

</div>
<br />

<div style="margin-bottom: 10px">

    <strong>Total: @ViewBag.mt</strong>
</div>

<div style="margin-bottom: 20px">
    @Html.ActionLink("Realizar Pago", "Pago", new { }, htmlAttributes: new { @class = "btn btn-success" })
</div>
<div>
    @Html.ActionLink("Seguir Comprando", "Index", new { }, htmlAttributes: new { @class = "btn btn-primary" })
</div>

