@model IEnumerable<funko_store_1._0.Models.Registro>

@{
    ViewBag.Title = "Pago";
}

<h2 style="margin-bottom:20px">Pago</h2>
<div style="margin-bottom:20px">@Html.ActionLink("Regresar a Inicio", "Index")</div>
@using (Html.BeginForm())
{
    // LOS DATOS LO JALA DE LA SESSION USUARIO
    <div style="margin-bottom:20px"><input type="submit" value="Aceptar Compra" class="btn btn-success"></div>

}

@Html.Partial("_PartialComprar")
<div class="h3"><strong>Total a pagar: @ViewBag.mt</strong></div>

