@model funko_store_1._0.Models.tb_productos

@{
    ViewBag.Title = "Seleccionar";
}

<h2>Seleccionar</h2>

<div>
    @Html.ActionLink("Principal", "Index")

</div>

@Html.Partial("_PartialRegistro")

@using (Html.BeginForm())
{
    <div class="col-xs-2">
        <label for="cantidad">Cantidad: </label>
        <input class="form-control" type="number" id="cantidad" name="cantidad" value="1" />
    </div>
    <div>
        <input type="submit" value="Agregar" />
    </div>
}


