@using Microsoft.AspNet.Identity
@using funko_store_1._0.Models;

<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    @if (Session["usuario"] != null)
    {
        UsuarioSesion usu = (UsuarioSesion)Session["usuario"];


        using (Html.BeginForm("LogOut", "Sesion", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Hola " + usu.nomUsuSesion + "!", "Edit", "Usuario", new { id = usu.idUsuSesion }, new { @class = "nav-link" })
                </li>
                <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Registrarse", "Registro", "Sesion", new { id = "registerLink" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Sesion", new { id = "loginLink" }, new { @class = "nav-link" })</li>
        </ul>
    }
</div>