@using Microsoft.AspNet.Identity
@using funko_store_1._0.Models;

@if (Session["usuario"] != null)
{
    UsuarioSesion usu = (UsuarioSesion)Session["usuario"];


    using (Html.BeginForm("LogOut", "Sesion", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + usu.nomUsuSesion + "!", "../Usuario/Edit", new { id = usu.idUsuSesion })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Registro", "Sesion", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Sesion", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
