@model funko_store_1._0.Models.tb_productos


<div class="jumbotron">
    <div class="thumbnail">
        <img src=@Url.Content(string.Format("../../imagenes/{0}",Model.imagen)) width="250px" />
    </div>
    <h2>Producto: @Model.nomprodu</h2>
    <p>Codigo: @Model.idprodu</p>
    <p>Categoria: @Model.tb_categorias.nomcate</p>
    <h4>Precio: @Model.precio</h4>
</div>


